.App {
  font-size: 1rem;
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 1rem;
  max-width: 24rem;
  min-width: 24rem;
  text-align: center;
  margin: 1rem auto 0;
  border: 1px solid black;
  border-radius: 5px;
}
